.background{
    background-color: rgb(56, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.background .calculator{
    background-color: rgb(216, 214, 214);
    align-items: center;
    width: 330px;
    height: 500px;
}
.display{
    border-style: double;
    width: 310px;
    height: 65px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.button{
    height: 65px;
    width: 65px;
    transition: transform 0.3s ease-in-out;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.button:hover{
    transform: scale(1.1);
}
.red{
    background-color: red;
    color: #ffffff;
}
.black{
    background-color: black;
    color: white;
    box-shadow: inset 0 0 10px rgb(252, 252, 252);
}
